<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= title %></title>
		<meta name="keywords" content="generator, youtube, gif, webm, html5, nodejs, javascript, youtube gif maker,convert,youtube,gif,convert youtube to gif, yt2gif" />
		<meta name="description" content="<%= description %>" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="<%= title %> | free YouTube to GIF Generator" />
		<meta property="og:url" content="<%= req.protocol + '://' + req.get('host') + req.originalUrl %>" />
		<meta property="og:site_name" content="CVolcyGifMaker" />
		<meta property="og:description" content="<%= description %>" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://getbootstrap.com/examples/cover/cover.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand"><%= title %></h3>
						<nav>
							<ul class="nav masthead-nav">
								<li><a href="/">Home</a></li>
								<!-- <li><a href="#">Features</a></li> -->
								<li class="active"><a href="/contact">Contact</a></ li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="inner cover">
					<div class="row">
						<div class="col-md-12">
							<div class="alert alert-success hide"><strong><span class="glyphicon glyphicon-send"></span> Success! Message sent. (If form ok!)</strong></div>
							<div class="alert alert-danger hide"><span class="glyphicon glyphicon-alert"></span><strong> Error! Please check the inputs. (If form error!)</strong></div>
						</div>
						<form role="form" action="" method="post" >
							<div class="well well-sm"><strong><i class="glyphicon glyphicon-ok form-control-feedback"></i> Required Field</strong></div>
							<div class="col-lg-6">
								<div class="form-group">
									<label for="InputName">Your Name</label>
									<div class="input-group">
										<input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
										<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
									</div>
								</div>
								<div class="form-group">
									<label for="InputEmail">Your Email</label>
									<div class="input-group">
										<input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required  >
										<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
									</div>
								</div>

								<div class="form-group">
									<label for="InputReal">What is 4+3? (Simple Spam Checker)</label>
									<div class="input-group">
										<input type="text" class="form-control" name="InputReal" id="InputReal" required>
										<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label for="InputMessage">Message</label>
									<div class="input-group"
										>
										<textarea name="InputMessage" id="InputMessage" class="form-control" rows="8" required></textarea>
										<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
									</div>
								</div>
								<input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
								<hr class="featurette-divider hidden-lg">
							</div>
						</form>
					</div>
					<div class="mastfoot">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<div class="leaderboard-abg visible-lg-block">
							<!-- Gif.cvolcy.com -->
							<ins class="adsbygoogle"
								style="display:inline-block;width:728px;height:90px"
								data-ad-client="ca-pub-5654969181576488"
								data-ad-slot="9700510422"></ins>
						</div>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
						<div class="mobile-abg hidden-lg">
							<!-- Gif.cvolcy.com Mobile -->
							<ins class="adsbygoogle"
								style="display:inline-block;width:320px;height:100px"
								data-ad-client="ca-pub-5654969181576488"
								data-ad-slot="6328241622"></ins>
						</div>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
						<div class="inner">
							<p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="#">Clervens Volcy</a>.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-52975090-1', 'auto');
			ga('send', 'pageview');
		</script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/js/vendor/jquery-2.1.1.min.js"><\/script>')</script>
		<script src="/js/vendor/jquery-validation-1.13.1/jquery.validate.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</body>
</html>